// FONT
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font-neucha: 'Neucha', cursive;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-ubuntu-mono: 'Ubuntu Mono', monospace;